#content{
	section#banner{
		margin-bottom: 60px;

		div.categoria-efeito{
			div.title{
				position:absolute; 
				z-index:100;
				right:15px;
				top:25px; 
				width:200px; 
				text-align:left; 
				padding:5px; 
				background-color:#ffe800; 
				color:#606060;	
				display: none;
				font-weight: bold;
			}
			img:hover{
				display: block;
			}
		}
	}

	section#sobre{
		margin-bottom: 60px;
	    background-image: url("images/background-sobre.jpg");
	    background-repeat: no-repeat;
	    background-position: center; 
	    width: 100%;
	   	padding:80px 0;

	    div.container{
	    	div.info-left{
	    		background-color:#010101;
				min-height: 600px;
	    		div.info-content{
	    			padding:170px 50px;
	    			
	    			img{
	    				margin: 0 auto;
	    			}
	    		}
	    	}

	    	div.info-right{
	    		background-color:white;
				min-height: 600px;
	    		div.info-content{
	    			padding:100px 30px;
	    			h5{
	    				font-weight: bold;
	    			}
	    		}
	    	}
	    }
	}

	section#newsletter{
		margin-bottom: 60px;

		div.news-left{
			background-color:#bdbdbd;
		}
		div.news-right{
			background-color:#f0f2f4;

		}
	}

	section#produtos{
		margin-bottom: 60px;

		div.categoria-efeito{
			div.title{
				position:absolute; 
				z-index:100;
				right:15px;
				top:25px; 
				width:200px; 
				text-align:left; 
				padding:5px; 
				background-color:#ffe800; 
				color:#606060;	
				display: none;
				font-weight: bold;
			}
			img:hover{
				display: block;
			}
		}
	}

	section#produtos-procurados{
		margin-bottom: 60px;

		div.title{
			div.content{
				background-color:#545454;
				color:white;
				text-align: left;
				padding:10px;				
			}

		}
		div.links{
			div.content{
				background-color:#f0f2f4;
				padding:10px;

				span{
					margin: 10px 20px;
					float: left;
				}				
			}
		}
	}

	section#redes{
		margin-bottom: 60px;

		.redes_sociais_bot{
			margin-bottom: 5px;
			height:79px;
			text-align: center;
			list-style:none;
			margin: 0 auto;
			margin-top: 30px;

			padding:0;
		}

		.redes_sociais_bot li:hover{
		    opacity: 0.6;
		    filter: alpha(opacity=60); /* For IE8 and earlier */
		}

		.redes_sociais_bot a{
			display: inline-block;
			width:79px;
			height:79px
		}

		.redes_sociais_bot .youtube{
			background-image: url("images/redes-bot.png");
			background-position: left,center;
			background-repeat:no-repeat;
			width:79px;
			height:79px;
			display:inline-block;		
		}

		.redes_sociais_bot .instagram{
			background-image: url("images/redes-bot.png");
			background-position: -88px,center;
			background-repeat:no-repeat;
			width:79px;
			height:79px;
			display:inline-block;		
		}

		.redes_sociais_bot .twitter{
			background-image: url("images/redes-bot.png");
			background-position: -175px,center;
			background-repeat:no-repeat;
			width:79px;
			height:79px;
			display:inline-block;		
		}

		.redes_sociais_bot .facebook{
			background-image: url("images/redes-bot.png");
			background-position: right,center;
			background-repeat:no-repeat;
			width:79px;
			height:79px;
			display:inline-block;		
		}
	}
	
	section#categorias{
		margin-top: 40px;
		margin-bottom: 80px;

		article{
			border: 1px solid #D8D8D8;
			padding:25px 10px;
			min-height: 395px;

			a{
				background-color:#ffe800;
				color:white;
				padding:10px;
				display: block;
				width: 80%;
				margin: 0 auto;
				margin-top: 25px;
			}
			a:hover{
				background-color:#fff489;
			}
		}
	}

	section#produto-single{
		margin-bottom: 20px;

		article{
			div.slider1{
				margin-top: 10px;
			}
			div.wrap{
				padding-left:40px;
				h5{
					font-style: italic;
					margin-bottom: 40px;
					display: block;
				}			
			}			
		}
	}

	section#produto-relacionado{
		margin-bottom: 60px;

		.container{
			border-top:3px solid #ffe800;
			padding-top:40px;
			article{
				border: 1px solid #D8D8D8;
				padding:25px 10px;
				min-height: 395px;

				a{
					background-color:#ffe800;
					color:white;
					padding:10px;
					display: block;
					width: 80%;
					margin: 0 auto;
					margin-top: 25px;
				}
				a:hover{
					background-color:#fff489;
				}
			}
		}
		
	}

	section#blog{

		div.paginacao{
			.page-numbers{
				padding:5px;
				background-color:#ececec;
			}
			.current{
				background-color:#ffc700;
			}
		}

		article.blog{
			text-align: left;
			padding-bottom: 30px;
			margin-bottom: 40px;
			border-bottom:1px dotted black;

			h2.entry-title{
				margin: 20px 0;
			}
			div.entry-summary{
				p.confira{
					margin-top: 20px;

					a{
						font-weight: bold;
						font-size: 12px;
					}
				}
			}

		}
		article.blog:last-child{
			border-bottom:0;
		}
	}		
	
}

@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}
